.close-btn,.pvtTriangle, select, .pvtSearch, input[type=checkbox]:checked, .clear-search, .pvtAxisContainer li nobr{
    background: transparent url("img/pivot_sprite.png") 100% 0 no-repeat;
}

table.pvtTable {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    text-align: left;
    border-collapse: collapse;
}
table.pvtTable tr th, table.pvtTable tr th {
    background-color: #e6EEEE;
    border: 1px solid #CDCDCD;
    font-size: 8pt;
    padding: 5px;
}

table.pvtTable .pvtColLabel {text-align: center;}
table.pvtTable .pvtTotalLabel {text-align: right;}

table.pvtTable tr td {
    color: #3D3D3D;
    padding: 5px;
    background-color: #FFF;
    border: 1px solid #CDCDCD;
    vertical-align: top;
    text-align: right;
}

.pvtTotal, .pvtGrandTotal { font-weight: bold; }

.pvtVals { text-align: center;}
.pvtAggregator { margin-bottom: 5px ;}

.pvtAxisContainer {
    border: 1px solid gray;
    background: #EEE;
    padding: 5px;
    min-width: 20px;
    min-height: 20px;
}
.pvtAxisContainer li {
    padding: 8px 6px;
    list-style-type: none;
    cursor:move;
}
.pvtAxisContainer .placeholder {
    -webkit-border-radius: 5px;
    padding: 3px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed #aaa;
}

.pvtAxisContainer li nobr {
    border: 1px solid #DEDEDE;
    padding: 2px 5px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.pvtTriangle {
    cursor:pointer;
    color: gray;
}

.pvtHorizList li { display: inline; }
.pvtVertList { vertical-align: top; }

.pvtFilteredAttribute { font-style: italic }

.pvtFilterBox{
    z-index: 100;
    width: 280px;
    border: 1px solid gray;
    background-color: #fff;
    position: absolute;
    padding: 20px;
    text-align: center;
}

h4{ margin:0; }

.btns-search{
    text-align: center;
    margin-bottom: 5px;
}
.clear-search{
        width: 14px;
        height: 15px;
        display: inline-block;
        position: absolute;
        right: 193px;
        top: 23px;
        cursor: pointer;
        display: none;
}
.close-btn{
    background-position: -2px -129px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 5px;
    color: hsl(0, 0%, 52%);
    background-color: hsl(0, 0%, 96%);
    border: 1px solid #d0d0d0;
    border-width: 0 0 1px 1px;
    cursor: pointer;
    height: 21px;
    width: 14px;
}
.checkContainer{
    text-align: left;
    overflow: scroll;
    width: 280px;
    max-height: 200px;
}
.checkContainer p{
    margin: 5px;
}
.submit-btn{
    text-align: center;
    margin-bottom: 0;
}
.selected-val{
    color: #8c8c8c;
    font-size: .8em;
}


.table-bordered{
    font-family: Arial;
    border-collapse: collapse;
}
.pvtAxisContainer{
    padding: 10px;
}

.pvtAxisContainer {
    border-color: #ccc;
    border-width: 1px 0;
    background: #e9e9e9;
}
.pvtCols{
    border-bottom-width: 0;
    border-top-color:#fff;
}

.pvtUnused {background: #f7f7f7;border-width: 0 0 0 1px;}
.pvtHorizList {border-top-color: #fff;border-left-width: 1px;}
.pvtHorizList li { display: inline; }

.pvtFilteredAttribute { font-style: italic }
.pvtRendererArea{ padding:0;}
select, input[type=checkbox]{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
}
select{
    background-color: #fff;
    background-position: 100% 0;
    border: 1px solid #c1c1c1;
    height: 28px;
    width: 210px;
    padding: 4px 28px 4px 14px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-indent: .01px;
    text-overflow: ' ';
}
input[type=checkbox]{
    margin: 0 1em 0 0;
    border: 1px solid #b3b3b3;
    background-color: #e5e5e5;
    width: 17px;
    height: 17px;
}
input[type=checkbox]:checked{
    background-position: -7px -62px;
}
.pvtAxisContainer li nobr{
    background-position: 100% 0;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    height: 18px;
    padding: 4px 0 4px 14px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.pvtTriangle{
    background-position: 3px -106px;
    width: 60px;
    display: inline-block;
    color: #fff;
    height: 19px;
}
.pvtRows .label{
    padding-right: 0;
    color: #333;
    }
/* Filterbox ----------*/
.pvtFilterBox {
    border-color:#c1c1c1;
    padding: 12px 10px;
    width: 377px;
}
.pvtFilterBox h4{
    display: none;
}
.pvtFilterBox p:first-child{
    padding-top: 0 !important;
}
.pvtFilterBox label, .pvtSearch{
    font-size: .8em;
}
.pvtFilterBox label span{
    position: relative;
    top: -4px;
}
.checkContainer{
    border: 1px solid #ddd;
    padding-top: 5px;
    overflow: auto;
    padding:3px;
    width: 320px;
}
.btns-search, .submit-btn{
    text-align: left;
}
.btns-search{
    margin:0 0 15px 0;
}
.pvtFilterBox button{
    background-color: #e9e9e9;
    padding: 10px;
    border: 0;
    font-size: .7em;
}
button span{
    font-weight: bold;
}
button:first-child{
    margin-right: 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
button:nth-child(2){
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    }
.submit-btn button, .pvtSearch{
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    }
.submit-btn button{
    background-color: #008bbc;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    padding: .4em 1em;
    margin-right: 13px;
}
.pvtSearch{
    padding: 8px 0 8px 30px;
    width:117px;
    margin-left: 12px;
    border: 1px solid #c9c9c9;
    background-position: 0 -23px;
}
.clear-search{
 background-position: -7px -83px;
}
.nobkgd{
    background-image: none;
}
table.pvtTable .pvtColLabel{
    padding: 14px 18px;
}
.pvtAxisContainer  .active_filter{
    z-index: 1000;
    border-bottom: 0;
    height: 15px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position:relative;
}
