
table.pvtTable {
    font-family:arial;
    font-size: 8pt;
    text-align: left;
    border-collapse: collapse;
}
table.pvtTable tr th, table.pvtTable tr th {
    background-color: #e6EEEE;
    border: 1px solid #CDCDCD;
    font-size: 8pt;
    padding: 5px;
}

table.pvtTable .pvtColLabel {text-align: center;}
table.pvtTable .pvtTotalLabel {text-align: right;}

table.pvtTable tr td {
    color: #3D3D3D;
    padding: 5px;
    background-color: #FFF;
    border: 1px solid #CDCDCD;
    vertical-align: top;
    text-align: right;
}

.pvtTotal, .pvtGrandTotal { font-weight: bold; }

.pvtAxisContainer {
    border: 1px solid gray;
    background: #EEE;
    padding: 5px;
    min-width: 20px;
    min-height: 20px;
}
.pvtAxisContainer li {
    margin: 5px;
    padding: 5px;
    list-style-type: none;
    cursor:move;
}

.pvtHorizList li { display: inline; }
